@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@1,300&display=swap%27');
*{

font-family: 'Source Sans 3', sans-serif;;
}
:root{
    --color-default: #fff;
    --color-header-text: #000;
    --color-primary: rgb(238, 0, 0);
}
header h1{

    font-size: xx-large;
    text-align: center;
    line-height: 8.0rem;
    font-weight: bold;
    background-color: rgb(173, 118, 224);
    box-shadow: 0 0 25px #ab58c0;
    border: solid .5rem var(--color-header-text);
       margin-bottom: 2rem;
}

header img{
display: block;
position:absolute;
top: 1.8rem;
left: 40.0rem;
width: 100px;
margin: 0 auto;
}
nav ul {

    font-weight: bold;
    text-align: center;
    background-color: rgb(173, 118, 224);
    box-shadow: 0 0 25px #ab58c0;
    border: solid .2rem var(--color-header-text);

  }
nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  text-transform:uppercase;
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-decoration: none;
  display: block;
  transition: all 300ms ease-in-out;
}

nav ul li:hover a{
    background-color: #5c388b;
    color : #fff;
}
body{
    background-color: rgb(255, 255, 255);
}
main h2{
    line-height: 4.5rem;
    font-weight: bold;
    text-align: center;
    background-color: rgb(173, 118, 224);
    box-shadow: 0 0 25px #ab58c0;
    border: solid .1rem var(--color-default);
   margin-bottom : 2rem;
}

main{
    font-size: large;
}

conteneur img{ 
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  conteneur {
      display: flex;
      justify-content: center;
  }

footer{
    text-align: right;
}

@media  screen and (max-width: 80.0rem) {
    main {
        margin : .1rem;
    }

    footer {
        min-height: 20vh;
        display: grid;
        align-items: center;
    }
}
@media screen and (orientation:landscape) { 
    header h1{

        font-size: x-large;

    }
}