body{
    background-color: rgb(207, 197, 216);
}
main h2{
    text-align: center;
}
footer{
    text-align: right;
}

    conteneur img{ 
        width: 150px;
        margin-left: auto;
        margin-right: auto;
      }
      conteneur {
          display: flex;
          justify-content: center;
      }

main h2{
    line-height: 4.5rem;
    text-align : center;
    color:var(--color-secondary);
   background-color : blueviolet;
   margin-bottom : 2rem;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@1,300&display=swap');
*{

font-family: 'Source Sans 3', sans-serif;;
}
header h1{
    line-height: 4.5rem;
    text-align : center;
    color:var(--color-secondary);
   background-color : blueviolet;
   margin-bottom : 2rem;
}
@media  screen and (max-width: 80.0rem) {
    main {
        margin : .1rem;
    }
    header h1{

        font-size: xx-large;
        text-align: center;
        line-height: 5.0rem;
        color: var(--color-header-text)
    }
header img{
    display: block;
    position:absolute;
    top: 1.2rem;
    left: 40.0rem;
    width: 100px;
    margin: 0 auto;
}
    footer {
        min-height: 20vh;
        display: grid;
        align-items: center;
    }
}
@media screen and (orientation:landscape) { 
    header h1{

        font-size: x-large;

    }
}